#:schema https://json.schemastore.org/any.json

root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "/tmp/main"
  cmd = "go build -o /tmp/main main.go"
  delay = 500
  exclude_dir = ["assets", "tmp", "vendor", "testdata", "docker", "bin", "data", ".git", "node_modules", "docs", "cmd/tools"]
  exclude_file = ["*.md", "*.txt", "*.log", "*.sql", "docker-compose*.yml", "Dockerfile*"]
  exclude_regex = ["_test\\.go$", "\\.git.*", ".*\\.swp$", ".*\\.tmp$"]
  exclude_unchanged = true
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = false
  keep_scroll = true
